<div class="container mt-5">
  <div class="p-5 mb-4 bg-dark-subtle rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Welcome To All In Angular</h1>

      <p style="text-align: justify">
        Angular is a comprehensive, TypeScript-based open-source framework for
        building dynamic web applications. Developed and maintained by Google,
        Angular offers robust tools and features that streamline the development
        of Single Page Applications (SPAs), enabling seamless and interactive
        user experiences. Angular emphasizes modularity, dependency injection,
        two-way data binding, and reactive programming through RxJS, making it
        ideal for scalable, maintainable applications. The framework is based on
        the MVC (Model-View-Controller) or MVVM (Model-View-ViewModel)
        architecture, with a strong emphasis on component-driven development.
      </p>
    </div>
  </div>
</div>
